@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Great+Vibes&display=swap');/*titulo principal*/

body{
    background-color: white;
    background-image: url(images/1963.jpg);
}
section{
   
    height: 100%;
}

.secaoescolhas{
    background-color: #F6C476;

}
h1{
    color: white;
    padding: 20px;
    background-color: #700f07;
    font-family: "Angkor", serif;
    letter-spacing: 10px;
}


section#montagemdapizza{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}

form{
    height: auto;
    padding: 40px;
    width: 800px;
    margin-left: 0px;
}



div#pizza{
    width: 320px; /* Defina o tamanho do círculo */
  height: 320px; /* Defina o tamanho do círculo */
 /*background-image: linear-gradient(to left, #783d19, #482e1d);*/
 background-image: url(images/texturamarrom.jpg);
  border-radius: 50%; /* Transforma a caixa em um círculo */
  border: 10px solid #482e1d;
  margin: auto  ;
  margin-top: 100px;
}



div.col{
    height: auto;
    margin: auto;
    border-radius: 10px;
  /*  background-color: #7c6339;*/
  background-color: white;
 /*   align-items: center;*/
}
div#colpizza{
    background-color: transparent;
    width: 30%;

}
div#colmontagem{
    height: auto;
    padding: 40px;
    margin-top: 50px;
    margin-left: -150px;
    width: 55%;
    
}
input[type='checkbox'] {
    margin-left: 120px;
}

h1{
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
   

}

 label{
    color: black;
    font-size: 18px;
    margin-left: 20px;
}
 select, #texting{
    width: 150px;
    height: 6vh;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(97, 95, 95);
    margin-left: 50px;

    
}
/*select{
    margin-top: 20px;
}*/
#texting{
    width: 250px;
  /*  margin-top: 20px;*/
}
/*Botão Próximo*/

#btnproximo, #btnproximo2{
    margin-left: 100px;
    margin-top: 25px;
    width: 280px;
    height: 5vh;
    border-radius: 10px;
    border: 2px solid black;

    
}

#btnproximo2{
    width: 140px;
    background-color: #700f07;
    color:white;
}

form > h3{
    color:black;
}
form > h2{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: "Signika Negative", sans-serif;

}
/*select{
    margin-top: 20px;
}*/
#envioinfo{
    margin-top: -150px;
    margin-left: 350px;
}

#pizzassalgadas{}