@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Great+Vibes&display=swap');/*titulo principal*/
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Great+Vibes&family=Signika+Negative:wght@300..700&display=swap'); /*paragrafos curtos*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*botões*/
/*Cores*/

/*Fundo: #F6C476, Botões: Secundarios#201814, #d52818 Principal#D52818, #A6381E*/


body{
    background-color: #F6C476;
    color: black;
    margin: 0%;
}

/*SEÇÕES MAIORES*/

.secoesmaiores{
    width: 100%;
    height: 1000px;

}
/*SEÇÕES PRINCIPAIS*/
#secaoprincipal{ /*container bootstrap*/
    height: 80vh;
}
/*#secaoprincipalleft{
        text-align: left;
}*/
#secaoprincipalleft h1{
    font-size: 60px;
    text-align: left;
    margin-top: 10%;
    font-family: "Angkor", serif;

}

#secaoprincipalleft h2{
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
    font-family: "Signika Negative", sans-serif;


}

#btnprincipal{
margin-top: 10%;
border-radius: 30px;
border: none;
background-color: #d52818;
color:white;
font-size: 20px;
width: 300px;
height: 60px;
align-self: left;
font-family: "Noto Sans", sans-serif;



}
#btnprincipal:hover{
    background-color: #700f07;
    transition-duration: 0.8s;
}
#secaoprincipalright {
    margin-top: 0%;
    border-radius: 20px;
}
#secaoprincipalright > #pizzaimgtopo{
    margin-top: -10%;
}

@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 767px de largura */


    #secaoprincipalleft h1{
        font-size: 35px;
        padding: 30px;
        text-align: center;
    }

    #secaoprincipalleft h2{
        text-align: center;
    }

    #btnprincipal{
        margin: auto;
        display: flex;
        align-self: center;
        text-align: center;
        margin-top: 3%;
    }

    #secaoprincipalright {
        margin-top: 10%;
    }
  }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para telas entre 768px e 1023px de largura */
    #secaoprincipalleft h1{
        font-size: 35px;
        padding: 30px;
        text-align: center;
    }

    #secaoprincipalleft h2{
        text-align: center;
    }

    #btnprincipal{
        margin: auto;
        display: flex;
        align-self: center;
        text-align: center;
        margin-top: 3%;
    }

    #secaoprincipalright {
        margin-top: 10%;
    }
  }
  
/*SEGUNDA SEÇÃO*/

#apresentacaopizzas{ /*secaomaior*/
    width: 100%;
    height: 100vh;
    background-color: white;
}

/*#segundasecao{ Esse aqui é o container do bootstrap que está com ID seções comentadas foram apagadas
    background-color: white;
    margin-top: 10%;
    height: 100vh;
    border: 2px solid black;

}*/


#secaogrid{ /*Criada seção onde fica as 3 imagens com o design*/

height: 450px;
width: 60px !important;
margin-top: 10%;

}
#secaogrid > img{
    border-radius: 20px;
}

/*#imgsecaoprimeira{ primeira imagem
    width: 700px;
    height: 250px;
    border-radius: 10px;
    margin-top: 5%;
}*/

/*#imgspequenas{ seção onde fica as duas imagens pequenas juntas
    display: flex;
        


}
.imgsecaogrid{ duas imagens menores
    max-width: 50%;
    height: 250px;
    border-radius: 10px;

}*/
#secaoapresentacao { /*texto*/
    margin-top: 10%;
    height: 450px;


}


#secaoapresentacao > p{
    display: flex;
    text-align: right;
    font-size: 22px;
    margin-top: 15%;
    padding: 20px;
}


@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 767px de largura */
    
    #imgsecaoprimeira{
        width: 70vw;
    }
    #imgspequenas{
        display: flex;
    }
    .imgsecaogrid{
        max-width: 50%;
    }
    #secaoapresentacao > p{
        margin-top: 50%;
        display: none;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para telas entre 768px e 1023px de largura */
    #apresentacaopizzas{
        height: 180vh;
    }
    #secaoapresentacao > p{
        margin-top: 15%;
        margin-left: 0%;
        width: auto;
    }
  }
  
  


/*seção cardapio*/

#secaocardapio{
    display: flex;
    height: 60vh;
    align-items: center;   
    background-color: #021d34;


}
#apresentacaocardapio{
    height: 80vh;
    background-color: #021d34;

}
#apresentacaocardapio > h1{
    text-align: center;
    padding-top: 40px;
    color: white;
font-family: "Signika Negative", sans-serif;


}

div.bloco{
    width: 30%;
    height: 50vh;
    margin-top: -10px;
    margin-left: 25px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

} 

div.bloco:hover{
   /* background-color: #153f59;*/
    transition-duration: 2s;

}
div.bloco > img {
    width: 180px;
    height:180px;
    margin-top: 20px;
    border-radius: 50%;
}
/*#sabor1, #sabor2, #sabor3{
    margin-top: 5%;
    height: 100%; 350px
    border: 2px solid black;
    margin-left: 50px;
    width: 30%;

}
#sabor1 > img, #sabor2 > img, #sabor3 > img{
    border-radius: 50%;
}*/


/*Botões eu quero*/

.euquerobtn{
    width: 170px;
    height: 50px;
    background-color: #700f07;
    color: goldenrod;
    margin-top: 10%;
    border: none;
    border-radius: 20px;
}
.euquerobtn:hover{
    background-color: #d52818;
    transition-duration: 2s;
}

@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 767px de largura */
    #apresentacaocardapio{
        height: 320vh;
    }
  }
  

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para telas entre 768px e 1023px de largura */
    #apresentacaocardapio{
        height: 260vh;
        display: flex;
        align-items: center;
    
    }
    #sabor1, #sabor2, #sabor3{
        margin-left: 20%;
    }
    .euquerobtn{
      align-self: center;
    }
}



/*secao "montagem" pizza*/

#apresentacaomontagem{
    background-color: white;
    height: 100%;
}

#secaomontagem > h1{
    text-align: center;
    padding-top: 40px;
}
#secaomontagem  .col{
    height: 70vh;
}

#text > p {
    
    margin-top: 20%;
    margin-left: 5%;
    text-align: left;
    font-size: 18px;
    width: 450px;
}

@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 767px de largura */
    #apresentacaomontagem{
        height: 100%;
    }
    #text > p {
        text-align: center;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para telas entre 768px e 1023px de largura */
    #text > p{
        width: auto;
        
    }
  }
  

/*PROMOÇÕES*/


#apresentacaopromocoes{

    height: 100%;
    
}
#apresentacaopromocoes > h1{
    text-align: center;
    margin-top: 120px;

}

#promocao1, #promocao2, #promocao3{
    height: 70vh;
    
}

#promocao1 > img, #promocao2 > img, #promocao3 >img{
    width: 400px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
        margin-top: 10%;
}

#promocao1 > p, #promocao2 > p, #promocao3 >p {
    margin-top: 20px;
    font-size: 18px;
}

.btnpromocao{
    margin-top: 10px;
border-radius: 10px;
border: none;
background-color: #69150d;
color:white;
font-size: 20px;
width: 200px;
height: 40px;
}
/*body{
    div{
        img{

        }
    }
}*/

@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 767px de largura */
    #apresentacaopromocoes{
        height: 270vh;
    }
  }
  